$primaryBackgroundColor: #163F5F;
$yellowTextColor: #F0C007;
$colorText: #7a7a7a;

@mixin fonth2P {
    text-transform: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
    margin: 58px 150px 0 0;
}

body{
    outline: 1px solid red;
    background: #e6e9ec;
    margin: auto;
    padding: 0;
    font: 15px Verdana,Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
}
.header {
    background-color: $primaryBackgroundColor;
    color: #fff;
    font-weight: 700;

    h1{
        font-size: 16.8px;
        font-weight: 700;
        margin: auto;
    }
    p {
        margin: auto;
    }
    span {
        color: $yellowTextColor;
    }
    a {
        color: $yellowTextColor;
        text-decoration: none;
        &:hover {
            color: #11c900;
        }
    }
    .header_logo {
        max-width: 220px;        
    }
    img {
        max-width:50px;
        margin-right: 10px;
    }
    .container-fluid {
        max-width: 1200px;
    }
    .headerCol {
        display: flex;
        justify-content:space-between;
        padding: 10px;
        .items {
            display: flex;
            align-items: center;
            .vr {
                height: 100%;
                margin: 0 20px;
            }
            .item {
                align-items: center;
            }
        }
    }
}
.section {
    .containerFluid {
        width: 100%;
        background: url(../img/bg-banner.webp) center center no-repeat;
        background-size: cover;
    }
    .sectionCol {
        display: flex;
        height: 500px;
        justify-content: end;
        h2 {
            @include fonth2P;
        }
        p {
            font-size: 20px!important;
            @include fonth2P;
        }
        .batton {
            margin-left: 177px;
            padding-right: 115px;
            a {
                color: #fff;
                font-size: 27px;
                font-weight: 700;
                height: 60px;
                margin: auto;
                max-width: 300px;
                background: #F0C007;
                &:hover {
                    color: #fff;
                    font-size: 27px;
                    font-weight: 700;
                    background: #d1a804;
                }
            }
        }
    }

    
    .article {
        max-width: 1200px;
        margin: auto;
        .colorCol{
            background: #fff;
        }
        * {
            color: $colorText;
        }
        p {
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 8px;
            color: #555;
        }
        h2 {
            font-size: 17px;
            font-weight: 700;
            color: #555;
            margin-bottom: 20px;
            text-align: center;
        }
        .batton {
            margin-left: 177px;
            a {
                color: #fff;
                font-size: 27px;
                font-weight: 700;
                height: 60px;
                margin: auto;
                max-width: 300px;
                background: #F0C007;
                &:hover {
                    color: #fff;
                    font-size: 27px;
                    font-weight: 700;
                    background: #d1a804;
                }
            }
        }
        &:not(.colorCol) {
            .item {
                background: #073A5E url(../img/picto-rapide.webp) no-repeat;
                background-position: right center;
                font-size: 16px;
                color: #f4f4f4;
                margin: 0 0 20px 0;
                padding: 30px 10px;
                border-radius: 5px;
                &:hover {
                    background: #08446f url(../img/picto-rapide.webp) no-repeat;
                    background-position: right center;
                    cursor:pointer;
                }
                &:nth-child(2) {
                    background: #073A5E url(../img/picto-proche.webp) no-repeat;
                    background-position: right center;
                    &:hover {
                        background: #08446f url(../img/picto-proche.webp) no-repeat;
                        background-position: right center;
                        cursor:pointer;
                    }
                }
                &:nth-child(3) {
                    background: #073A5E url(../img/picto-experience.webp) no-repeat;
                    background-position: right center;
                    &:hover {
                        background: #08446f url(../img/picto-experience.webp) no-repeat;
                        background-position: right center;
                        cursor:pointer;
                    }
                }
                &:nth-child(4) {
                    background: #073A5E url(../img/picto-devis.webp) no-repeat;
                    background-position: right center;
                    &:hover {
                        background: #08446f url(../img/picto-devis.webp) no-repeat;
                        background-position: right center;
                        cursor:pointer;
                    }
                }

                
            }
            
            
        }
    }
}

@media (max-width: 992px) {
    .section .sectionCol {
        display: block;
        height: 100%;
        h2 {
            width: 100%;
            margin: 10px 0 0 0;
        }
        p {
            width: 100%;
            margin: 30px 0 0 0;
        }
        .batton {
            margin-left: 0;
            padding-right: 0;
        }
    }
}
