body {
  outline: 1px solid red;
  background: #e6e9ec;
  margin: auto;
  padding: 0;
  font: 15px Verdana, Helvetica, Arial, sans-serif;
  max-width: 1920px;
  min-width: 360px;
  color: #7a7a7a;
}

.header {
  background-color: #163F5F;
  color: #fff;
  font-weight: 700;
}
.header h1 {
  font-size: 16.8px;
  font-weight: 700;
  margin: auto;
}
.header p {
  margin: auto;
}
.header span {
  color: #F0C007;
}
.header a {
  color: #F0C007;
  text-decoration: none;
}
.header a:hover {
  color: #11c900;
}
.header .header_logo {
  max-width: 220px;
}
.header img {
  max-width: 50px;
  margin-right: 10px;
}
.header .container-fluid {
  max-width: 1200px;
}
.header .headerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.header .headerCol .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .headerCol .items .vr {
  height: 100%;
  margin: 0 20px;
}
.header .headerCol .items .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .containerFluid {
  width: 100%;
  background: url(../img/bg-banner.webp) center center no-repeat;
  background-size: cover;
}
.section .sectionCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.section .sectionCol h2 {
  text-transform: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
  margin: 58px 150px 0 0;
}
.section .sectionCol p {
  font-size: 20px !important;
  text-transform: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
  margin: 58px 150px 0 0;
}
.section .sectionCol .batton {
  margin-left: 177px;
  padding-right: 115px;
}
.section .sectionCol .batton a {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  height: 60px;
  margin: auto;
  max-width: 300px;
  background: #F0C007;
}
.section .sectionCol .batton a:hover {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  background: #d1a804;
}
.section .article {
  max-width: 1200px;
  margin: auto;
}
.section .article .colorCol {
  background: #fff;
}
.section .article * {
  color: #7a7a7a;
}
.section .article p {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 8px;
  color: #555;
}
.section .article h2 {
  font-size: 17px;
  font-weight: 700;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}
.section .article .batton {
  margin-left: 177px;
}
.section .article .batton a {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  height: 60px;
  margin: auto;
  max-width: 300px;
  background: #F0C007;
}
.section .article .batton a:hover {
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  background: #d1a804;
}
.section .article:not(.colorCol) .item {
  background: #073A5E url(../img/picto-rapide.webp) no-repeat;
  background-position: right center;
  font-size: 16px;
  color: #f4f4f4;
  margin: 0 0 20px 0;
  padding: 30px 10px;
  border-radius: 5px;
}
.section .article:not(.colorCol) .item:hover {
  background: #08446f url(../img/picto-rapide.webp) no-repeat;
  background-position: right center;
  cursor: pointer;
}
.section .article:not(.colorCol) .item:nth-child(2) {
  background: #073A5E url(../img/picto-proche.webp) no-repeat;
  background-position: right center;
}
.section .article:not(.colorCol) .item:nth-child(2):hover {
  background: #08446f url(../img/picto-proche.webp) no-repeat;
  background-position: right center;
  cursor: pointer;
}
.section .article:not(.colorCol) .item:nth-child(3) {
  background: #073A5E url(../img/picto-experience.webp) no-repeat;
  background-position: right center;
}
.section .article:not(.colorCol) .item:nth-child(3):hover {
  background: #08446f url(../img/picto-experience.webp) no-repeat;
  background-position: right center;
  cursor: pointer;
}
.section .article:not(.colorCol) .item:nth-child(4) {
  background: #073A5E url(../img/picto-devis.webp) no-repeat;
  background-position: right center;
}
.section .article:not(.colorCol) .item:nth-child(4):hover {
  background: #08446f url(../img/picto-devis.webp) no-repeat;
  background-position: right center;
  cursor: pointer;
}

@media (max-width: 992px) {
  .section .sectionCol {
    display: block;
    height: 100%;
  }
  .section .sectionCol h2 {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .section .sectionCol p {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .section .sectionCol .batton {
    margin-left: 0;
    padding-right: 0;
  }
}